/* Overal styling */

.image__background {
  grid-column: auto;
  position: inherit;
  width: 100%;
}

/* Navigation */
.nav__main {
  grid-template-columns: 1fr;
}

.nav__main-items {
  grid-template-columns: repeat(2, 1fr);
  justify-items: left;
  padding-inline-start: 0;
}

/* First section: landing */
.showcase {
  font-size: 32px;
}

/* First 1.5: about */
.about {
  grid-template-columns: auto;
  justify-items: left;
  overflow: hidden;
}

.about__content {
  font-size: 18px;
}

.image__background-transparent img {
  width: auto;
  height: auto;
  opacity: 0.5;
}

.image__background-transparent {
  grid-column: auto;
}

/* Section 1.75: Qualities */
.qualities {
  grid-template-columns: auto;
  grid-gap: none;
  background-image: url(../img/karim-tekent.png);
  background-position: center;
  background-repeat: no-repeat;
}

.qualities__item {
  width: auto;
}

.qualities__image {
  display: none;
}

/*Section 1.9: Testimonial*/
.testimonial {
  grid-template-columns: auto;
}

.testimonial iframe {
  grid-column: auto;
}

/* Section 2: Showcase */
.project__container {
  grid-template-columns: auto;
}

/* Section 4: experience */
.experience__container {
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.experience__img {
  grid-column: auto;
  grid-row: auto;
}

/* Section 5: courses */
.courses__container {
  grid-template-columns: auto;
}

/* Section 5.5: Hobbys */
.hobbys {
  display: grid;
  grid-template-columns: auto;
}

.hobbys img {
  grid-column: auto;
  width: 100%;
}

/* Section 6: contact */
.contact {
  font-size: 32px;
}
